ul {
    
    list-style-type: none;
    margin: 50px;
    padding: 0;
    background-color:purple;
    font-size: large;
    overflow: hidden;
    
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:blue;
  }